<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <meta charset="UTF-8">
    <title>Add Records</title>
</head>
<body class="text-center">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{warehouse.code}} {{warehouse.warehouse_name}}</h1>
            <p>{{warehouse.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <form action="/warehouses/{{warehouse.id}}/addPlanning" method="post">
                <input name="item_number" placeholder="Item Number">
                <input name="min" placeholder="min">
                <input name="max" placeholder="max">
                <input name="quantity" placeholder="Starting quantity">
                <button>Add Item to Warehouse</button>
            </form>

            {% with messages = get_flashed_messages(category_filter=["item"]) %}
                        {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger" role="alert">
                                        {{message}}
                                    </div>
                                {% endfor %}
                        {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Item Description</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>On Hand</th>
                    <th>Below Min?</th>
                    <th>Capacity</th>
                    <th>Planning</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in warehouse.warehouse_items %}
                    <tr>
                        <td>{{item.item_number}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.whs_min}}</td>
                        <td>{{item.whs_max}}</td>
                        <td>{{item.whs_qty}}</td>
                        <td>
                            {% if item.whs_qty < item.whs_min %}
                                <p class="alert alert-danger">Yes</p>
                            {% elif item.whs_qty < item.whs_max %}
                                <p class="alert alert-warning">Below Max</p>
                            {% else %}
                                <p class="alert alert-success">Fully Stocked</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.whs_qty < item.whs_max %}
                                {{item.whs_max - item.whs_qty}}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>
                            <a href="/warehouses/plannings/{{item.planning_id}}"><button>Update Min/Max</button></a>
                        </td>
                        <td>
                            <form action="/warehouses/quantities/{{item.quantity_id}}" method="post">
                                <input name="quantity" placeholder="On hand" min="0", step="1">
                                <input type="hidden" name="warehouse_id" value="{{warehouse.id}}">
                                <button>Update Quantity</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


</div>
</body>
</html>